* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#C45507;
    --footer-color:#1B1B1B;
    --primary-color:#ffffff;
}
.backgroundcolor{
    background-color: var(--bg-color);
}
.debug{
    border: 1px solid black;
}
header{
    position: fixed;
    z-index: 1000;
}
.container{
    width: 1200px;
    margin: 0 auto;
    
}
.flex{
    display: flex;
    flex-flow: row wrap;
}


.justify-space{
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    width: 40%;
}
ul{
    list-style-type: none;
}
li{
    padding: 15px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

img{
    width: 100%;
}
.wrap{
    flex-flow: row wrap;
    
    
    
}
.size{
   width: calc(100% / 3 );
   position: relative;
   padding: 40px 10px;
   

}
.padding{
    padding: 30px 0px;
}
.footercolor{
    background-color: var(--footer-color);
}
h3{
    color: white;
    font-size: 2em;
    padding: 30px ;
}
.discount1{
    color:white;
    background-color: red;
    width: 40px;
    position: absolute;
    bottom: 130px;
    left: 10px;
    padding: 5px;
    
    
}
.sostenibilità{
    color:white;
    background-color: green;
    width: 90px;
    position: absolute;
    bottom: 130px;
    left: 52px;
    padding: 5px;
}
.heart{
    position: absolute;
    background-color:white;
    top: 60px;
    right: 12px;
    padding: 10px;
    font-size: 1.2em;

}
.heart:hover{
    color: red;
}
.left0{
    left: 10px;
}
.appear{
    display: none;
    position: absolute;
    top: 0;
    left: 0; 
    padding: 40px 10px;
}
.img1:hover .appear{
    display: block;
}
.disappear:hover{
    display: none;
}
.position{
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1000;
}




