* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#C45507;
    --footer-color:#1B1B1B;
    --primary-color:#ffffff;
}
.backgroundcolor{
    background-color: var(--bg-color);
}
.debug{
    border: 1px solid black;
}
.container{
    width: 1200px;
    margin: 0 auto;
    
}
.flex{
    display: flex;
}
.justify-space{
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    width: 40%;
}
ul{
    list-style-type: none;
}
li{
    padding: 15px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

img{
    width: 100%;
}
.wrap{
    flex-flow: row wrap;
    
    
    
}
.size{
   width: calc(100% / 3);
   min-width: 150px;
   position: relative;

}
.padding{
    padding: 40px 0px;
}
.footercolor{
    background-color: var(--footer-color);
}
h3{
    color: white;
    font-size: 2em;
    padding: 30px ;
}
.discount1{
    color:white;
    background-color: red;
    width: 40px;
    position: absolute;
    bottom: 50px;
    left: 0px;
}
.sostenibilità{
    color:white;
    background-color: green;
    width: 80px;
    padding: 0px 4px;
    position: absolute;
    bottom: 50px;
    left: 42px;
}


